<section class="hero"></section>

<div class="container text-center">

  <div class="row mb-4 d-flex justify-content-around">
    <div class="col-lg-4 circle-link">
      <img class="rounded-circle"
           src="/assets/img/inventory.jpg"
           alt="Inventory" width="200" height="200">
      <h2>Inventory</h2>
      <p>Prepare your battle set, fit or remove weapons or make sure your stats are good enough for battle</p>
      <p><a class="btn btn-secondary" href="/game/inventory" role="button">See Inventory &raquo;</a></p>
    </div>
    <div class="col-lg-4 circle-link">
      <img class="rounded-circle"
           src="/assets/img/arena.jpg"
           alt="Arena" width="200" height="200">
      <h2>Arena</h2>
      <p>The Arena is a place, where you can find other warriors and challenge them for a fight.</p>
      <p><a class="btn btn-secondary" href="/game/arena" role="button">Go to Arena &raquo;</a></p>
    </div>
    <div class="col-lg-4 circle-link">
      <img class="rounded-circle"
           src="/assets/img/market.jpeg"
           alt="Market" width="200" height="200">
      <h2>Market</h2>
      <p>The Market is where you can buy new items. You can find great deals for weapons, armour and shields. Some
        offers do not last very long.</p>
      <p><a class="btn btn-secondary" href="/game/market" role="button">Go to Market &raquo;</a></p>
    </div>
    <div class="col-lg-4 circle-link">
      <img class="rounded-circle"
           src="/assets/img/wilderness.jpg"
           alt="Wilderness" width="200" height="200">
      <h2>Wilderness</h2>
      <p>If you want to gain experience against unknown creatures and feel brave enough to go to new places, the
        Wilderness will
        provide serious opportunities for you.</p>
      <p><a class="btn btn-secondary" href="/game/wilderness" role="button">Go to Wilderness &raquo;</a></p>
    </div>
    <div class="col-lg-4 circle-link">
      <img class="rounded-circle"
           src="/assets/img/jobs.png"
           alt="Inventory" width="200" height="200">
      <h2>Work</h2>
      <p>If you need gold, you should definitely find a job. Find the one, that would be best for you</p>
      <p><a class="btn btn-secondary" href="/game/work" role="button">Browse Jobs &raquo;</a></p>
    </div>

  </div>


</div>
