<div class="container my-5 text-center">

  <h1 class="my-3">Admin Panel</h1>
  <h3 class="mb-5">Job Management</h3>

  <hr/>

  <h4 class="mt-5 mb-2">All Jobs</h4>
  <a href="/admin/jobs/add" class="my-4 btn btn-secondary">New Job</a>
  <div class="col-sm-12">
    <table class="table table-hover">
      <thead>
      <tr class="table-info">
        <th scope="col">Name</th>
        <th scope="col">Time (h:m)</th>
        <th scope="col">Salary</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let job of jobs" [class]="job.status ? '': 'table-active'">
        <td>{{job.name}}</td>
        <td>{{minutesToHours(job.minutes)}}</td>
        <td>{{job.salary}}</td>
        <td>
          <a routerLink="/admin/jobs/edit/{{job.id}}" class="btn btn-outline-info">Edit</a>
          <a *ngIf="job.status" (click)="changeStatus(job.id, false)" class="btn btn-outline-danger">Disable</a>
          <a *ngIf="!job.status" (click)="changeStatus(job.id,true)" class="btn btn-outline-warning">Enable</a>
        </td>
      </tr>



      </tbody>
    </table>
  </div>

  <div class="text-center my-5">
    <ul class="paging">
      <li class="page-item" [ngClass]="{'disabled': prevDisabled}">
        <button (click)="prevPage()" class="page-link">&laquo;</button>
      </li>
      <li class="page-item" [ngClass]="{'disabled': nextDisabled}">
        <button (click)="nextPage()" class="page-link">&raquo;</button>
      </li>
    </ul>
  </div>
</div>
