<section class="text-center">
  <div class="container">
    <h1 class="my-3">Inventory</h1>
    <p class="col-sm-6 offset-sm-3">Here you can equip weapons, armours and shields and keep track of your general
      stats.
      The better the stats, the bigger the chances to defeat your enemies! Prepare your battle set wisely!</p>
    <div class="hero-stats" *ngIf="currentHero">
      <span class="badge badge-pill badge-light">Health: {{currentHero.health}}</span>
      <span class="badge badge-pill badge-light">Strength: {{currentHero.strength}}</span>
      <span class="badge badge-pill badge-light">Defence: {{currentHero.defense}}</span>
      <span class="badge badge-pill badge-light">Stamina: {{currentHero.stamina}}</span>
    </div>
    <hr/>

    <h3 class="my-5">Battle set</h3>

    <div class="row">

      <div *ngIf="battleSet.weapon; else empty_card" class="col-lg-4">
        <h4>Weapon</h4>
        <div class="card current-item mb-4 box-shadow border-light">
          <img class="card-img-top" src="{{battleSet.weapon.image}}" alt="Current weapon">
          <div class="card-body">
            <span class="badge badge-pill badge-success mb-3">{{battleSet.weapon.bonus}}+ Strength</span>
            <div>
              <div class="btn-group">
                <button type="button" (click)="unequipItem(battleSet.weapon.id)" class="btn btn-sm btn-outline-warning">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="battleSet.armor; else empty_card" class="col-lg-4">
        <h4>Armor</h4>
        <div class="card current-item mb-4 box-shadow border-light">
          <img class="card-img-top" src="{{battleSet.armor.image}}" alt="Current armor">
          <div class="card-body">
            <span class="badge badge-pill badge-success mb-3">{{battleSet.armor.bonus}}+ Defense</span>
            <span class="badge badge-pill badge-success mb-3">{{helperService.getStaminaOfItem(battleSet.armor)}}+ Stamina</span>
            <div>
              <div class="btn-group">
                <button type="button" (click)="unequipItem(battleSet.armor.id)" class="btn btn-sm btn-outline-warning">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="battleSet.shield; else empty_card" class="col-lg-4">
        <h4>Shield</h4>
        <div class="card current-item mb-4 box-shadow border-light">
          <img class="card-img-top" src="{{battleSet.shield.image}}" alt="Current shield">
          <div class="card-body">
            <span class="badge badge-pill badge-success mb-3">{{battleSet.shield.bonus}}+ Defense</span>
            <div>
              <div class="btn-group">
                <button type="button" (click)="unequipItem(battleSet.shield.id)" class="btn btn-sm btn-outline-warning">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <ng-template #empty_card>
        <div class="col-lg-4">
          <h4>Shield</h4>
          <div class="card current-item empty mb-4 box-shadow border-light">
            <div class="card-body">
              EMPTY
            </div>
          </div>
        </div>
      </ng-template>

    </div>
  </div>
</section>

<div class="py-5">
  <div class="container">

    <div class="text-center my-5">
      <h3>Items</h3>
      <small>Inventory max-size: {{maxSize}}</small>
    </div>

    <div class="row">

      <div *ngFor="let item of items" class="col-md-6 col-lg-4">
        <div class="card item mb-4 box-shadow">
          <img class="card-img-top" src="{{item.image}}"
               alt="{{item.name}}">
          <div class="card-body">
            <p class="card-text text-center">{{item.name}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" (click)="equipItem(item.id)" class="btn btn-sm btn-outline-light">Equip</button>
                <button type="button" (click)="sellItem(item.id)" class="btn btn-sm btn-outline-light">Sell</button>
              </div>
              <span class="badge badge-pill badge-light">Price: {{helperService.getPriceOfUsedItem(item)}} gold</span>
            </div>
            <div class="item-params">
              <span *ngIf="item.type=='Weapon'" class="badge badge-pill badge-success">{{item.bonus}}+ Attack</span>
              <span *ngIf="item.type=='Shield'" class="badge badge-pill badge-success">{{item.bonus}}+ Defense</span>
              <span *ngIf="item.type=='Armor'" class="badge badge-pill badge-success">{{item.bonus}}+ Defense</span>
              <span *ngIf="item.type=='Armor'" class="badge badge-pill badge-success">{{helperService.getStaminaOfItem(item)}}+ Stamina</span>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
