<section class="text-center">
  <div class="container">
    <h1 class="my-3">Inventory</h1>
    <p class="col-sm-6 offset-sm-3">Here you can equip weapons, armours and shields and keep track of your general
      stats.
      The better the stats, the bigger the chances to defeat your enemies! Prepare your battle set wisely!</p>
    <div class="hero-stats">
      <span class="badge badge-pill badge-light">Health: 0</span>
      <span class="badge badge-pill badge-light">Strength: 0</span>
      <span class="badge badge-pill badge-light">Defence: 0</span>
      <span class="badge badge-pill badge-light">Stamina: 0</span>
    </div>
    <hr/>

    <h3 class="my-5">Battle set</h3>

    <div class="row">

      <div class="col-lg-4">
        <h4>Weapon</h4>
        <div class="card current-item mb-4 box-shadow border-light">
          <img class="card-img-top" src="./assets/img/tmp/sword.png" alt="Current weapon">
          <div class="card-body">
            <span class="badge badge-pill badge-success mb-3">5+ Strength</span>
            <div>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-warning">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <h4>Armour</h4>
        <div class="card current-item mb-4 box-shadow border-light">
          <img class="card-img-top" src="./assets/img/tmp/armour.png" alt="Current armour">
          <div class="card-body">
            <span class="badge badge-pill badge-success mb-3">2+ Stamina</span>
            <div>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-warning">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <h4>Shield</h4>
        <div class="card current-item empty mb-4 box-shadow border-light">
          <div class="card-body">
            EMPTY
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="py-5">
  <div class="container">

    <div class="text-center my-5">
      <h3>Items</h3>
      <small>Inventory max-size: 10</small>
    </div>

    <div class="row">

      <div class="col-md-4">
        <div class="card item mb-4 box-shadow">
          <img class="card-img-top" src="./assets/img/tmp/shield.png"
               alt="Some shield">
          <div class="card-body">
            <p class="card-text text-center">Shield of gold</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-light">Equip</button>
                <button type="button" class="btn btn-sm btn-outline-light">Sell</button>
              </div>
              <span class="badge badge-pill badge-success">2+ Defence</span>
              <span class="badge badge-pill badge-light">Price: 5 gold</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card item mb-4 box-shadow">
          <img class="card-img-top" src="./assets/img/tmp/shield.png"
               alt="Some shield">
          <div class="card-body">
            <p class="card-text text-center">Shield of gold</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-light">Equip</button>
                <button type="button" class="btn btn-sm btn-outline-light">Sell</button>
              </div>
              <span class="badge badge-pill badge-success">2+ Defence</span>
              <span class="badge badge-pill badge-light">Price: 1 gold</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card item mb-4 box-shadow">
          <img class="card-img-top" src="./assets/img/tmp/sword.png"
               alt="Some shield">
          <div class="card-body">
            <p class="card-text text-center">Dagger of gold</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-light">Equip</button>
                <button type="button" class="btn btn-sm btn-outline-light">Sell</button>
              </div>
              <span class="badge badge-pill badge-success">6+ Strength</span>
              <span class="badge badge-pill badge-light">Price: 3 gold</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card item mb-4 box-shadow">
          <img class="card-img-top" src="./assets/img/tmp/armour.png"
               alt="Some shield">
          <div class="card-body">
            <p class="card-text text-center">Armour of gold</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-light">Equip</button>
                <button type="button" class="btn btn-sm btn-outline-light">Sell</button>
              </div>
              <span class="badge badge-pill badge-success">2+ Stamina</span>
              <span class="badge badge-pill badge-light">Price: 15 gold</span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="text-center">
      <ul class="paging">
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
</div>
