<section class="text-center">
  <div class="container">
    <h1 class="my-3">Work</h1>
    <p class="col-sm-6 offset-sm-3">You will have trouble surviving in this place
      if you don't have enough gold. Willing to get a job...?</p>
    <hr/>
  </div>
</section>

<div class="py-5">
  <div class="container">

    <div *ngIf="!isAtWork" class="row">

      <div *ngFor="let job of jobs" class="col-md-6 col-lg-4">
        <div class="card mb-3 text-center">
          <h3 class="card-header">{{job.name}}</h3>
          <div class="card-body">
          </div>
          <img
            src="{{job.image}}"
            alt="{{job.name}}">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Salary: {{job.salary}} gold</li>
            <li class="list-group-item">Time: {{helperService.minutesToTime(job.minutes)}}</li>
          </ul>
          <div class="card-body">
            <button (click)="startJob(job.id)" class="btn btn-outline-light">Start job</button>
          </div>
        </div>
      </div>


    </div>


    <div *ngIf="isAtWork" class="mt-5">
      <h3 class="text-center">You are still at work, so jobs aren't available.</h3>
      <div class="row my-4">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
          <div class="card mb-3 text-center">
            <h3 class="card-header">{{currentJob.name}}</h3>
            <div class="card-body">
              <p class="card-text">Remaining time: {{helperService.minutesToTimeWithSeconds(secondsRemaining)}}</p>
            </div>
            <img style="height: 200px; width: 100%; display: block;"
                 src="{{currentJob.image}}"
                 alt="Card image">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Salary: {{currentJob.salary}} gold</li>
              <li class="list-group-item">Time: {{helperService.minutesToTime(currentJob.minutes)}}</li>
            </ul>
            <div class="card-body">
              <button (click)="abandonJob()" class="btn btn-outline-danger">Abandon job</button>
              <br>
              <small class="text-info">Ending the job now will leave you without any earnings.</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!isAtWork" class="text-center my-5">
      <ul class="paging">
        <li class="page-item" [ngClass]="{'disabled': prevDisabled}">
          <button (click)="prevPage()" class="page-link">&laquo;</button>
        </li>
        <li class="page-item" [ngClass]="{'disabled': nextDisabled}">
          <button (click)="nextPage()" class="page-link">&raquo;</button>
        </li>
      </ul>
    </div>

  </div>
</div>
