<section class="text-center">
  <div class="container">
    <h1 class="my-3">Market</h1>
    <p class="col-sm-6 offset-sm-3">Find and get the items, that will make you stronger. But pay first!</p>
    <hr>
  </div>
</section>

<div class="py-5">
  <div class="container">

    <div class="text-center">
      <div class="filters my-5">
        <button type="button" class="btn btn-secondary">Weapons</button>
        <button type="button" class="btn btn-secondary">Armour</button>
        <button type="button" class="btn btn-secondary">Shields</button>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6 col-lg-4">
        <div class="card item mb-4 box-shadow">
          <img class="card-img-top" src="./assets/img/tmp/shield.png"
               alt="Some shield">
          <div class="card-body">
            <p class="card-text text-center">Shield of gold</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-light">Buy</button>
              </div>
              <span class="badge badge-pill badge-success">2+ Defence</span>
              <span class="badge badge-pill badge-light">Price: 5 gold</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card item mb-4 box-shadow">
          <img class="card-img-top" src="./assets/img/tmp/shield.png"
               alt="Some shield">
          <div class="card-body">
            <p class="card-text text-center">Shield of gold</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-light">Buy</button>
              </div>
              <span class="badge badge-pill badge-success">2+ Defence</span>
              <span class="badge badge-pill badge-light">Price: 1 gold</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card item mb-4 box-shadow">
          <img class="card-img-top" src="./assets/img/tmp/sword.png"
               alt="Some shield">
          <div class="card-body">
            <p class="card-text text-center">Dagger of gold</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-light">Buy</button>
              </div>
              <span class="badge badge-pill badge-success">6+ Strength</span>
              <span class="badge badge-pill badge-light">Price: 3 gold</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card item mb-4 box-shadow">
          <img class="card-img-top" src="./assets/img/tmp/armour.png"
               alt="Some shield">
          <div class="card-body">
            <p class="card-text text-center">Armour of gold</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-light">Buy</button>
              </div>
              <span class="badge badge-pill badge-success">2+ Stamina</span>
              <span class="badge badge-pill badge-light">Price: 15 gold</span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="text-center">
      <ul class="paging">
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
</div>
