<section class="arena-hero text-center">
</section>

<div class="pb-5 pt-3">
  <div class="container">

    <div class="text-center my-4">
      <h1 class="my-3">Arena</h1>
      <p class="col-sm-6 offset-sm-3">Welcome to the Arena!
        Here you can find the greatest warriors and challenge them for a fight.
        Make sure you get out alive!
      </p>
      <hr/>
    </div>

    <h3 class="text-center mb-3 mt-5">Top 10 Warriors</h3>
    <div class="row">

      <table class="table table-hover text-center">
        <thead>
        <tr class="table-danger">
          <th scope="col">Position:</th>
          <th scope="col">Hero</th>
          <th scope="col">Level</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let hero of heroes; let i = index"
            [attr.data-index]="i"
            [ngClass]="{'table-active': hero.name===currentHero.name}"
        >
          <th scope="row">{{i+1}}</th>
          <td>{{hero.name}}</td>
          <td>{{hero.level}}</td>
          <td>
            <button *ngIf="currentHero!=undefined && hero.name!==currentHero.name" (click)="fight(hero.id)"  class="btn btn-outline-warning">Challenge</button>
          </td>
        </tr>
      </table>

    </div>

  </div>
</div>
