<section class="arena-hero text-center">
</section>

<div class="pb-5 pt-3">
  <div class="container">

    <div class="text-center my-4">
      <h1 class="my-3">Arena</h1>
      <p class="col-sm-6 offset-sm-3">Welcome to the Arena!
        Here you can find the greatest warriors and challenge them for a fight.
        Make sure you get out alive!
      </p>
      <hr/>
    </div>

    <h3 class="text-center mb-3 mt-5">Top 10 Warriors</h3>
    <div class="row">

      <table class="table table-hover text-center">
        <thead>
        <tr class="table-danger">
          <th scope="col">Position:</th>
          <th scope="col">Hero</th>
          <th scope="col">Level</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Gandalf</td>
          <td>52</td>
          <td>
            <button class="btn btn-outline-warning">Challenge</button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Sauron</td>
          <td>41</td>
          <td>
            <button class="btn btn-outline-warning">Challenge</button>
          </td>
        </tr>
        <tr class="table-active">
          <th scope="row">3</th>
          <td>dspassov</td>
          <td>30</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>testUser</td>
          <td>6</td>
          <td>
            <button class="btn btn-outline-warning">Challenge</button>
          </td>
        </tr>
      </table>

    </div>

    <h3 class="text-center mb-3 mt-5">Random Warriors</h3>
    <div class="row">

      <table class="table table-hover text-center">
        <thead>
        <tr class="table-warning">
          <th scope="col">Hero</th>
          <th scope="col">Level</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Gandalf</td>
          <td>52</td>
          <td>
            <button class="btn btn-outline-warning">Challenge</button>
          </td>
        </tr>
        <tr>
          <td>testUser</td>
          <td>6</td>
          <td>
            <button class="btn btn-outline-warning">Challenge</button>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>
