<div class="container my-5 text-center">

  <h1 class="my-3">Admin Panel</h1>
  <h3 class="mb-5">Your current role is: <span>SUPERADMIN</span></h3>

  <hr/>

  <h4 class="mt-5 mb-2">Current administrators</h4>
  <small>Only for SUPERADMIN</small>
  <div class="my-5 col-sm-4 offset-sm-8">
    <form class="form-inline my-2 my-lg-0">
      <input #newAdmin class="form-control mr-sm-2" type="email" name="email"
             placeholder="User E-Mail">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" (click)="addAdmin(newAdmin.value)">Make
        ADMIN
      </button>
    </form>
  </div>

  <div class="col-sm-12">
    <table class="table table-hover">
      <thead>
      <tr class="table-info">
        <th scope="col">E-Mail</th>
        <th scope="col">Current role</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let admin of admins" [class]="admin.role!=='ROLE_SUPERADMIN' ? '' : 'table-active'">
        <td>{{admin.username}}</td>
        <td>{{admin.role}}</td>
        <td>
          <button *ngIf="admin.role!=='ROLE_SUPERADMIN'" (click)="removeAdmin(admin.username)" class="btn btn-outline-danger">Remove role</button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

  <div class="text-center my-5">
    <ul class="paging">
      <li class="page-item" [ngClass]="{'disabled': prevDisabled}">
        <button (click)="prevPage()" class="page-link">&laquo;</button>
      </li>
      <li class="page-item" [ngClass]="{'disabled': nextDisabled}">
        <button (click)="nextPage()" class="page-link">&raquo;</button>
      </li>
    </ul>
  </div>
</div>
