<div class="container my-5 text-center">

  <h1 class="my-3">Admin Panel</h1>
  <h3 class="mb-5">Item Management</h3>

  <hr/>

  <h4 class="mt-5 mb-2">All Items</h4>
  <a href="/admin/items/add" class="my-4 btn btn-secondary">New Item</a>
  <div class="col-sm-12">
    <table class="table table-hover">
      <thead>
      <tr class="table-info">
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody *ngIf="items.length>0">
      <tr *ngFor="let item of items">
        <td>{{item.name}}</td>
        <td>{{item.type}}</td>
        <td>
          <a routerLink="/admin/items/edit/{{item.id}}" class="btn btn-outline-info">Edit</a>
          <a class="btn btn-outline-danger">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center my-5">
    <ul class="paging">
      <li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    </ul>
  </div>
</div>
