<div class="cover-container d-flex text-center h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Knights of Valor</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link active" href="/users/login">Login</a>
        <a class="nav-link" href="/users/register">Register</a>
      </nav>
    </div>
  </header>
</div>

<div class="card custom-card text-white mb-3">
  <div class="card-body text-center">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" action="">
      <div class="form-group">
        <label for="email">E-Mail:</label>
        <input type="email" name="email" class="form-control" id="email" [email]="true"
               required #email="ngModel" [(ngModel)]="user.email">

        <div *ngIf="email.invalid && (email.dirty || email.touched)"
             class="error">

          <span *ngIf="email.hasError('required'); else emailValidation">
            E-Mail is required.
          </span>
          <ng-template #emailValidation>
            <span *ngIf="email.hasError('email')">
              E-Mail is invalid.
            </span>
          </ng-template>

        </div>

      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control" id="password"
              required #password="ngModel" [(ngModel)]="user.password">

        <div *ngIf="password.invalid && (password.dirty || password.touched)"
             class="error">
          <span>Password is required.</span>
        </div>
      </div>

      <button [disabled]="!loginForm.valid" type="submit" class="btn btn-secondary mt-5">Login</button>
    </form>
  </div>

</div>
