<div class="container my-5 text-center">

  <h1 class="my-3">Admin Panel</h1>
  <h3 class="mb-5">Neutral Units Management</h3>

  <hr/>

  <h4 class="mt-5 mb-2">All Neutral Units</h4>
  <a href="/admin/neutrals/add" class="my-4 btn btn-secondary">New Neutral Unit</a>
  <div class="col-sm-12">
    <table class="table table-hover">
      <thead>
      <tr class="table-info">
        <th scope="col">Name</th>
        <th scope="col">Level</th>
        <th scope="col">Loot Gold</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let unit of units" [class]="unit.status ? '': 'table-active'">
        <td>{{unit.name}}</td>
        <td>{{unit.level}}</td>
        <td>{{unit.lootGold}}</td>
        <td>
          <a routerLink="/admin/neutrals/edit/{{unit.id}}" class="btn btn-outline-info">Edit</a>
          <a *ngIf="unit.status" (click)="changeStatus(unit.id, false)" class="btn btn-outline-danger">Disable</a>
          <a *ngIf="!unit.status" (click)="changeStatus(unit.id,true)" class="btn btn-outline-warning">Enable</a>
        </td>
      </tr>


      </tbody>
    </table>
  </div>

  <div class="text-center my-5">
    <ul class="paging">
      <li class="page-item" [ngClass]="{'disabled': prevDisabled}">
        <button (click)="prevPage()" class="page-link">&laquo;</button>
      </li>
      <li class="page-item" [ngClass]="{'disabled': nextDisabled}">
        <button (click)="nextPage()" class="page-link">&raquo;</button>
      </li>
    </ul>
  </div>
</div>
